#root {
  margin: 0 auto;
}
.card {
  padding: 2em;
}
.table-chevron {
  transition: 300ms ease-out transform;
}
.table-chevron-false {
  transform: rotate(0deg);
}
.table-chevron-true {
  transform: rotate(180deg);
}

